body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
html, body {
	background: url(/img/colorPicker/bg.png) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #52697E;
}
body {
	text-align: center;
	overflow: auto;
}
.wrapper {
	width: 700px;
	margin: 0 auto;
	text-align: left;
}
h1 {
	font-size: 21px;
	margin: 50px 0 0 0;
	text-transform: uppercase;
}
.navigationTabs {
	height: 23px;
	line-height: 23px;
	border-bottom: 1px solid #ccc;
}
.navigationTabs li {
	float: left;
	height: 23px;
	line-height: 23px;
	padding-right: 3px;
}
.navigationTabs li a{
	float: left;
	dispaly: block;
	height: 23px;
	line-height: 23px;
	padding: 0 10px;
	overflow: hidden;
	color: #52697E;
	background-color: #eee;
	position: relative;
	text-decoration: none;
}
.navigationTabs li a:hover {
	background-color: #f0f0f0;
}
.navigationTabs li a.active {
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: 0px solid;
}
.tabsContent {
	border: 1px solid #ccc;
	border-top: 0px solid;
	width: 698px;
	overflow: hidden;
}
.ttab {
	padding: 16px;
}
.ttab h2 {
	font-weight: bold;
	font-size: 16px;
}
.ttab h3 {
	font-weight: bold;
	font-size: 14px;
	margin-top: 20px;
}
.ttab h5 {
margin: 20px 0 10px 0;
padding: 0 0 10px 0px;
border-bottom: 1px solid #ddd;
text-shadow: 1px 1px 0px rgb(255, 255, 255), 1px 1px 5px rgb(177, 177, 177);
font: bold 16px tahoma;
text-transform: uppercase;
color: rgb(14, 139, 138);
}

.ttab p {
	margin-top: 16px;
	clear: both;
}
.ttab ul {
	margin-top: 16px;
	list-style: disc;
}
.ttab li {
	margin: 10px 0 0 35px;
}
.ttab a {
	color: #8FB0CF;
}
.ttab strong {
	font-weight: bold;
}
.ttab pre {
	font-size: 11px;
	margin-top: 20px;
	width: 668px;
	overflow: auto;
	clear: both;
}


#colorSelector {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(/img/colorPicker/select.png);
}
#colorSelector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(/img/colorPicker/select.png) center;
}
#colorSelector2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	background: url(/img/colorPicker/select2.png);
}
#colorSelector2 div {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: url(/img/colorPicker/select2.png) center;
}
#colorpickerHolder2 {
	top: 32px;
	left: 0;
	width: 356px;
	height: 0;
	overflow: hidden;
	position: absolute;
}
#colorpickerHolder2 .colorpicker {
	background-image: url(/img/colorPicker/custom_background.png);
	position: absolute;
	bottom: 0;
	left: 0;
}
#colorpickerHolder2 .colorpicker_hue div {
	background-image: url(/img/colorPicker/custom_indic.gif);
}
#colorpickerHolder2 .colorpicker_hex {
	background-image: url(/img/colorPicker/custom_hex.png);
}
#colorpickerHolder2 .colorpicker_rgb_r {
	background-image: url(/img/colorPicker/custom_rgb_r.png);
}
#colorpickerHolder2 .colorpicker_rgb_g {
	background-image: url(/img/colorPicker/custom_rgb_g.png);
}
#colorpickerHolder2 .colorpicker_rgb_b {
	background-image: url(/img/colorPicker/custom_rgb_b.png);
}
#colorpickerHolder2 .colorpicker_hsb_s {
	background-image: url(/img/colorPicker/custom_hsb_s.png);
	display: none;
}
#colorpickerHolder2 .colorpicker_hsb_h {
	background-image: url(/img/colorPicker/custom_hsb_h.png);
	display: none;
}
#colorpickerHolder2 .colorpicker_hsb_b {
	background-image: url(/img/colorPicker/custom_hsb_b.png);
	display: none;
}
#colorpickerHolder2 .colorpicker_submit {
	background-image: url(/img/colorPicker/custom_submit.png);
}
#colorpickerHolder2 .colorpicker input {
	color: #778398;
}
#customWidget {
	position: relative;
	height: 36px;
}

/* Header Style */
.vladmaxi-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.05);
	text-transform: uppercase;
	z-index: 9999;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	font-family: calibri;
	font-size: 13px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}

.vladmaxi-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.vladmaxi-top a:hover{
	background: #fff;
}
.vladmaxi-top span.right{
	float: right;
}
.vladmaxi-top span.right a{
	float: left;
	display: block;
}
.vladmaxi-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 20px 0px;
}
.vladmaxi-demos a{
    display: inline-block;
	margin: 0px 4px;
	padding: 0px 4px;
	color: #fff;
	line-height: 20px;	
	font-style: italic;
	font-family: Calibri;
	font-size: 15px;
	border-radius: 3px;
	background: rgba(41,77,95,0.1);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.vladmaxi-demos a:hover{
	background: rgba(41,77,95,0.3);
}
.vladmaxi-demos a.current,
.vladmaxi-demos a.current:hover{
	background: rgba(41,77,95,0.3);
}