.sd-block{height:300px;}
.sd-hat{background-color:#e1e1e1;padding:5px 15px;overflow:hidden;}
.sd-hat span{font-weight:bold;margin-right:20px;}
.sd-hat a{padding:3px 10px;background-color:#fff;border:1px solid #989898;border-radius:3px;display:inline-block;margin-left:10px;color:#000;text-decoration:none;background-image:-webkit-linear-gradient(bottom, #d1d1d1 0%, #ffffff 90%);box-shadow:1px 1px 3px rgba(0,0,0,0.2);}
.sd-hat a:hover{border-color:#7d98b8;background-image:-webkit-linear-gradient(bottom, #b8d5fd 0%, #ffffff 90%);}
.sd-hat-right{float:right;width:300px;}
.sd-content{padding:8px 15px;}
.sd-top-menu{margin-bottom:8px;padding-left:5px;border-bottom:1px solid #bbb;}
.sd-top-menu:after{content:"";clear:both;display:block;}
.sd-top-menu li{display:block;float:left;padding:7px 15px;background-color:#f1f1f1;border:1px solid #bbb;border-radius:3px 3px 0 0;margin-right:10px;margin-bottom:-1px;}
.sd-top-menu li:last-child{margin-right:0;}
.sd-top-menu li:hover{background-color:#fff;}
.sd-top-menu li.act{background-color:#fff;border-bottom-color:#fff;}
.sd-body{}
.sd-left{width:250px;float:left;padding:10px;border:1px solid #ccc;border-radius:3px;margin-right:10px;}
.sd-left-menu{margin:0;overflow-x:hidden;overflow-y:auto;height:170px;width:250px;}
.sd-left-menu li{margin:0 10px 2px 0;}
.sd-left-menu li:last-child{margin-bottom:0;}
.sd-left-menu li a{display:block;padding:4px 10px;margin-bottom:2px;}
.sd-left-menu li a:hover,.sd-left-menu li.act a{background-color:#e1e1e1;}
.sd-colors{margin:0;}
.sd-colors:after{content:"";clear:both;display:block;}
.sd-colors li{margin:0 15px 15px 0;float:left;display:block;}
.sd-colors li:last-child{margin-right:0;}
.sd-colors li a{display:block;width:50px;height:50px;border:1px solid #525252;border-radius:2px;}
.sd-settings{overflow-x:hidden;padding:10px;border:1px solid #ccc;border-radius:3px;}
.sd-settings>div{overflow-x:hidden;overflow-y:auto;height:170px;}
.sd-settings:after{content:"";clear:both;display:block;}
.sd-settings .hat-img{float:left;margin:0 10px 10px 0;border:1px solid #bbb;}
.sd-settings .hat-img, .sd-settings .hat-img img{width:200px;height:60px;}
.sd-hat-position{cursor:default;position:relative;width:302px;border:solid 1px #888;height:100px;}
.sd-hat-position>div{cursor:pointer;position:absolute;width:40px;height:15px;background-color:#555;}
.sd-footer{background-color:#525252;text-align:center;padding:2px 10px;cursor:pointer;color:#fff;}
#js_hatText, #js_contactsText {width:302px;border:solid 1px #888;height:50px;}
/* --- */

div.items-list {
	margin:10px 0px;
}
div.items-list.item-active{
	background: #ccfdcc;
}

div.items-list.item-no-active {
	background: #FBE3E3;
}
table.items-list {
	width:auto;
}

table.items-list tr.item-active {
	background:#ccfdcc;
}

table.items-list tr.item-no-active {
	background:#fbe3e3;
}

table.items-list th {
	padding:10px;
	border-bottom:#cccccc 1px solid;
	border-right:#cccccc 1px solid;
	border-top:#cccccc 1px solid;
	background:#f2f2f2;
}

table.items-list th.left-border {
	border-left:#cccccc 1px solid;
}

table.items-list td.num, table.items-list td.service, table.items-list td.info, table.items-list td.links {
	padding:10px;
}

table.items-list td.service {
	padding-top:7px;
	white-space:nowrap;
}

table.items-list td.service div.checkbox {
	position:absolute;
}

table.items-list td.service div.checkbox input {
	margin-top:4px;
}

table.items-list td.service div.date {
	padding:3px 0px 10px 24px;
}

table.items-list td.service div.date div.add {
	padding-top:3px;
	color:#999999;
}

table.items-list td.service div.statuses {
	white-space:nowrap;
	position:relative;
	padding:2px 0 2px 24px;
}

table.items-list td.service div.statuses input {
	position:absolute;
	left:0;
	top:3px;
}

table.items-list td.info {
	width:100%;
	height:100%;
}

table.items-list td.info div.links {
	white-space:nowrap;
	float:right;
	margin-left:15px;
	margin-bottom:15px;
}

table.items-list td.info div.links div.id {
	color:#012471;
}

table.items-list td.info div.params {
	padding-bottom:5px;
}

table.items-list td.info div.buttons {
	margin-top:10px;
}

table.items-list td.info div.category {
	padding-top:5px;
	padding-bottom:10px;
	color:#012471;
}

table.items-list td.info div.face {
	padding-bottom:10px;
	color:#012471;
	font-weight:bold;
}

table.items-list td.info div.form-block {
	margin:0;
}

.vipCheck {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	top: 2px;
}

table.items-list td.links div.id {
	color:#012471;
}

.comma-item:not(:last-child):after {
    content: ",";
    font-weight: bold;
    margin-right: 3px;
}

.no_active_border {border: 1px solid #cccccc;}

/* --- */

.ci-up, .ci-down, .ci-first, .ci-last{display:inline-block;width:18px;height:16px;white-space:nowrap;margin-right:5px;margin-top:2px;background-image:url('/img/admin-icons.png');background-repeat:no-repeat;}
.ci-up{background-position:0 -140px;}
.ci-down{background-position:0 -160px;}
.ci-first{background-position:0 -120px;}
.ci-last{background-position:0 -180px;}

.contacts-headers,.contacts-item{overflow:hidden !important;width:800px;}
.contacts-headers{font-size:13px;color:#727272;padding-top:5px;}
.contacts-headers>div{float:left;margin-right:8px;vertical-align:middle;}
.contacts-items{padding-top:5px;}
.contacts-item{margin-bottom:3px;}
.contacts-item:last-child{margin-bottom:0;}
.contacts-item>div{float:left;margin-right:8px;vertical-align:middle;}
.contacts-item>div>div{padding:2px;}
.contacts-item .textfield{width:100% !important;padding:0;}
.contacts-item .checkboxfield{margin-top:4px;}
.ci-color,.ci-price,.ci-id_good{width:75px;}
.ci-position{width:120px;}
.ci-value,.ci-number{width:200px;}
.ci-name{width:250px;}
.ci-h2{width:400px;}
.ci-comment{width:170px;}
.ci-publish{width:80px;}
.ci-countryCode{width:15px;padding-top:5px;}
.ci-code,.ci-ed_izm{width:51px;}
.ci-buttons{width:20px;padding-top:5px;}
.ci-add,.ci-delete{cursor:pointer;}
.contacts-item>div.ci-id_type>div,
.contacts-item>div.ci-value>div,
.contacts-item>div.ci-comment>div,
.contacts-item>div.ci-code>div,
.contacts-item>div.ci-number>div{border:#989898 1px solid;border-radius:2px;}

