html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;}
input, select, textarea{margin:0;padding:0;}
:focus{outline:0;}
body{color:black;background:white;}
ol, ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption, th, td{text-align:left;vertical-align:top;font-weight:normal;}
blockquote:before, blockquote:after,
q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
strong, b{font-weight:bold;}
a{cursor:pointer;}
img{vertical-align:top;border:none;}
html,body{height:100%;}
body,table{font-family:Arial,Tahoma,Helvetica,serif;font-size:12px;color:#000000;}
ul{margin:0 0 10px 0;padding:0;list-style:none;}
ul li:last-child,ol li:last-child{margin-bottom:0;}
p{margin:0 0 12px 0;}
button{cursor:pointer;}