.red{color:#C4024D !important;}
.green{color:#006600 !important;}
.t-row{display:table;width:100%;margin-bottom:20px;}
.t-col,.t-col1,.t-col2,.t-col-1,.t-col-2{display:table-cell;width:50%;}
.t-col3,.t-col-3,.t-col-three,.t-col-three-1,.t-col-three-2,.t-col-three-3{display:table-cell;width:33%;}
.info-message{margin:0 0 12px 0;border:1px solid #E9E345;padding:5px 10px;width:530px;background-color:#FFFEE3;}
.error-message{margin:0 0 12px 0;border:1px solid #CCCCCC;padding:5px 10px;font-size:11px;width:530px;background-color:#FCD5E3;}
.form-block-content .error-message{margin-top:5px;}
.errors{color:#C4024D;margin-top:5px;font-size:11px;}
.edit-message{margin:0 0 12px 0;border:1px solid #CCCCCC;padding:5px 10px;font-size:11px;width:530px;background-color:#ccfdcc;}
.form-block{margin:20px;overflow:visible;}
h2.form-header{font-size:14px;margin-bottom:10px;}
.form-block-content{overflow:visible;}
.form-header {font-size: 14px;font-weight: bold;margin-bottom: 10px;}
.edit-form{font-size:13px;}
.edit-form .field-value{color:#86878C;font-size:11px;position:relative;height:25px;padding-bottom:4px !important;}
.edit-form .field-value div{color:black;font-size:13px;}
.edit-form .field-value div.field-value{padding-top:4px;}
.edit-form .field-value div.field-example{color:#86878C;font-size:11px;margin-bottom:2px;}
.edit-form .field-value .field-check{margin-left:15px;}
.edit-form .field-value .check-green{color:#006600;}
.edit-form .field-value .check-red{color:#A40000;}
.edit-form .field-name{padding:4px 10px 2px 0 !important;}
.edit-form .field-name div.field-title,
.edit-form .field-name div.field-sep,
.edit-form .field-name div.field-star,
.edit-form .field-name div.field-help,
.edit-form .field-name div.field-note{display:inline-block;}
.edit-form .field-name div.field-help{padding:1px 5px 0 5px;}
.edit-form .field-name div.field-help a{text-decoration:none;line-height:12px;display:block;}
.edit-form .field-name div.field-help img{width:12px;height:12px;}
.edit-form .field-name div.field-note{position:relative;overflow:visible;z-index:998;}
.edit-form .field-name div.field-note div{float:none;display:block;white-space:normal;}
.edit-form .field-name div.field-note div.fn-block{position:absolute;top:-3px;left:0;padding:0;color:#525252;font-size:12px;width:380px;}
.edit-form .field-name div.field-note div.fn-block div.fnb-corner{height:6px;}
.edit-form .field-name div.field-note div.fn-block div.fnb-corner img{width:12px;height:6px;}
.edit-form .field-name div.field-note div.fn-block div.fnb-text{background-color:#FFFAE3;padding:8px 10px;border:#808080 1px solid;margin-top:-1px;border-radius:5px;box-shadow:0 0 7px rgba(0,0,0,0.4);}
.edit-form .field-name div.field-note div.fn-block div.fnb-text p{margin-bottom:5px;}
.edit-form .field-name div.field-note div.fn-block div.fnb-text p:last-child{margin-bottom:0;}
.edit-form .field-name div.field-star{margin-left:3px;color:#A40000;}
.edit-form span{color:#A40000;}
.edit-form input{width:400px;}
.edit-form input.calendarfield{width:100px;}
.edit-form .adverigo-wrapper input{width:auto;}
.edit-form textarea{width:550px;}
.edit-form select{width:auto;}
.edit-form textarea{height:150px;}
.edit-form #elm1{height:300px;}
.edit-form input.field-error,.edit-form select.field-error,.edit-form textarea.field-error,.edit-form div.field-error select{background-color:#ffb1c2;}
.edit-form-period{width:auto !important;}
.edit-form-period td.field-value{width:100%;height:22px;vertical-align:middle;padding:0;}
.edit-form-period td.field-name{padding:3px 10px 0 0;white-space:nowrap;}
.edit-form-period input{width:100px;}
.form-edit{font-size:13px;}
.form-edit__row{margin-bottom:8px;}
.form-edit__row:after{content:"";clear:both;display:block;}
.form-edit__row:last-child{margin:0;}
.form-edit__name{float:left;width:200px;text-align:right;margin-right:10px;padding:5px 0;}
.form-edit__name .title,.form-edit__name .sep,.form-edit__name .help,.form-edit__name .star,.form-edit__name .note{display:inline-block;}
.form-edit__name .help{padding:1px 5px 0 5px;}
.form-edit__name .help a{text-decoration:none;}
.form-edit__name .help img{width:12px;}
.form-edit__name .note{position:relative;text-align:left;z-index:998;}
.form-edit__name .note .note-wrapper{position:absolute;top:17px;left:-5px;padding:0;color:#525252;width:380px;}
.form-edit__name .note .corner{height:6px;}
.form-edit__name .note .corner img{width:12px;height:6px;}
.form-edit__name .note .text{background-color:#FFFAE3;padding:5px 8px;border:#808080 1px solid;border-radius:3px;margin-top:-1px;}
.form-edit__name .star,.form-edit__value .star{color:#A40000;}
.form-edit__value{font-size:14px;padding-left:210px;}
.form-edit__value .field-example{color:#86878C;font-size:12px;padding:2px 0;}
.form-edit .checkboxfield{margin-top:6px;}
.form-edit input.textfield,.form-edit input.passwordfield,.form-edit textarea.textfield{width:400px;}
.form-edit input.captchafield{width:150px;}
.form-edit .textfield,.form-edit .passwordfield,.form-edit .captchafield{font-size:14px;padding:2px;line-height:18px;border-radius:2px;}
.form-edit textarea.textfield{height:150px;}
.form-edit .numeric-interval input.textfield,.form-edit .price-interval input.textfield,.form-edit .date-interval input.textfield{width:100px;}
.div-form-checkbox-row{margin-top:2px;}
.form-checkbox-row{position:relative;}
.form-checkbox-row-input{position:absolute;top:0;left:0;}
.form-checkbox-row-text{padding:2px 0 4px 20px;}
.div-form-radio-col{float:left;margin-right:25px;}
.div-form-radio-row{margin-top:2px;}
.form-radio-row{position:relative;}
.form-radio-row-input{position:absolute;top:4px;left:0;}
.form-radio-row-text{padding:3px 0 4px 20px;}
.div-form-period-date{margin-top:10px;margin-left:25px;}
.div-form-period-date td.value{height:20px;}
.div-form-period-date td.value input{width:100px;}
.checkboxfield{width:auto !important;border:0 !important;margin-top:4px;}
.radiofield{width:auto !important;border:0 !important;}
.calendarfield{width:100px;border:#BCBEC0 solid 1px;background:white url('/img/calendar_ico.gif') no-repeat right center;cursor:pointer;padding:1px;}
.button{padding:3px 20px;font-size:14px;background-color:#f2f2f2;border:#abadb3 1px solid;cursor:pointer;display:inline-block}
.button,.button:hover{text-decoration:none;}
.captcha-field{margin-top:5px;height:55px;width:100px;background-color:white;border:#abadb3 1px solid;padding:5px 10px;border-radius:2px;}
.captcha-reload{margin-top:5px;font-size:11px;text-decoration:none;border-bottom:#012471 1px dotted;display:inline-block;}
.captcha-field a, .captcha-field a:hover{font-size:11px;text-decoration:none;border-bottom:#012471 1px dotted;}

#ajaxLoad{position:absolute;left:0;top:0;z-index:1111;display:none;}
#ajaxLoad .ajaxBlock{position:fixed;width:100%;height:100%;left:0;top:0;filter:alpha(opacity=0);-khtml-opacity:0;opacity:0;z-index:1115;}
#ajaxLoad .ajaxRoller{position:fixed;top:50%;left:50%;margin-left:-36px;z-index:1113;}
#ajaxLoad .ajaxPercent{display:none;position:fixed;top:50%;left:50%;margin-left:-40px;z-index:1113;font-size:16px;margin-top:2px;color:#666666;}
#ajaxLoad .ajaxWait{position:fixed;top:50%;left:50%;width:117px;height:22px;margin-left:-58px;margin-top:-11px;border:1px #aaaaaa solid;box-shadow:1px 1px 3px rgba(0,0,0,0.3);font-size:18px;padding:10px 14px 10px 58px;background-color:white;color:#666666;z-index:1112;}
#popup, #popup-image, #popup-calendar{display:none;}
.popup{position:absolute;text-align:left;width:800px;border:1px solid #858585;border-radius:5px;background-color:#ffffff;padding:10px 15px;left:20%;top:100px;z-index:101;box-shadow:5px 5px 10px rgba(0,0,0,0.4);}
.popup h1{margin:0 0 15px 0;}
.popup div.close{position:absolute;right:5px;top:5px;cursor:pointer;z-index:1;}
.popup, .popup div{overflow:visible;}
.popupWindow{position:absolute;overflow:visible;border:#858585 1px solid;background-color:white;margin:0 !important;z-index:100;left:0;top:20px;border-radius:5px;box-shadow:5px 5px 10px rgba(0,0,0,0.4);text-align:left;}
.popupWindow div.close{position:absolute;right:5px;top:5px;cursor:pointer;z-index:1;}
.popupWindowBlock{padding:12px 20px 15px 20px;margin:0 !important;}
.popupWindow h1{margin:0;margin-bottom:15px;padding:0;background:none;box-shadow:none;font-size:16px;}
.pw-wrapper{width:100%;height:100%;background-color:rgba(0,0,0,0.5);position:fixed;left:0;top:0;z-index:100;}
.iw-text{text-align:center;font-size:16px;margin-bottom:10px;}
.iw-buttons{text-align:center;}
.iw-buttons .button{margin-right:15px;}
.iw-buttons .button:last-child{margin-right:0;}
.popup-image{left:30%;top:50px;padding:20px;z-index:102;text-align:center;}
#popup-image-prior, #popup-image-next{cursor:pointer;width:20px;background-repeat:no-repeat;background-position:50% 50%;}
#popup-image-prior:hover, #popup-image-next:hover{background-color:#f4f2f2;}
#popup-image-prior{float:left;background-image:url('/img/popup/arrow-img-prior.png');margin-right:7px;}
#popup-image-next{float:right;background-image:url('/img/popup/arrow-img-next.png');margin-left:7px;}
#popup_image-smalls{margin-top:10px;display:inline-block;}
#popup_image-smalls div{float:left;margin-right:10px;margin-top:10px;width:50px;height:40px;border:#ededed 1px solid;padding:5px;text-align:center;}
#popup_image-smalls img{cursor:pointer;}
#popup_image-smalls div.act{border-color:#ff7b2b;}
#popup-calendar{background:url('/img/calendar-bg.png') repeat-x top;border:#BCBEC0 solid 1px;margin:0;padding:5px;z-index:103;}
#popup-calendar .popup-calendar{width:auto!important;}
#popup-calendar .calendar-close{position:absolute;right:4px;top:4px;cursor:pointer;}
#popup-calendar td{padding:2px 5px;text-align:center;}
#popup-calendar td a{text-decoration:none;}
#popup-calendar .calendar-date{cursor:pointer;}
#popup-calendar .calendar-date:hover{background:#d3d3d3;}
#popup-calendar .calendar-next, #popup-calendar .calendar-prior{padding-bottom:8px;vertical-align:middle;}
#popup-calendar .calendar-select{padding:2px 5px 4px 5px;white-space:nowrap;}
#popup-calendar .calendar-selected-date a{font-weight:bold;color:#000000;}
#popup-calendar .calendar-curent-date a{font-weight:bold;color:#A40000;}
#popup-calendar td.calendar-header{font-style:italic;padding:0 5px 4px 5px;}
#popup-calendar .textfield_calendar{font-size:12px;color:#231F20;border:#BCBEC0 solid 1px;background:url('/img/calendar_ico.gif') no-repeat right center;cursor:pointer;}

.toggleWindow{position:absolute;top:20px;left:0;overflow:visible;z-index:1;border:#aaaaab 1px solid;border-radius:5px;background-color:#f8f8f8;display:none;padding:7px 9px;margin:0 !important;}
.select-search-js{font-size:12px;color:black;border:1px solid #989898;background:white url('/img/arrow-up-down-small-black.gif') no-repeat center right 5px;padding:2px 15px 2px 2px;width:350px;cursor:pointer;float:left;}
.select-search-clear-js{background:url('u/img/cross-black.gif') no-repeat 50% 50%;margin-left:5px;width:20px;height:20px;cursor:pointer;float:left;}
.popup-SS{background-color:#f8f8f8;position:absolute;border:2px #CCCCCC solid;padding:10px 15px;display:none;z-index:111;width:405px;margin-top:22px;top:5px;left:0;overflow:hidden;}
.popup-SS-search{margin-bottom:5px;}
.popup-SS-search input{width:375px !important;}
.popup-SS-result{overflow:hidden !important;overflow-y:auto !important;height:300px;}
.popup-SS-result ul{position:relative;}
.popup-SS-result li{padding:2px 5px;margin-right:10px;cursor:pointer;height:14px;overflow:hidden;}
.popup-SS-result li.SS-selected{background-color:#d1d1d1;height:auto;}
.popup-SS-result li.l2{margin-left:15px;color:#444444;}
.popup-SS-result li.l3{margin-left:30px;color:#666666;}
.popup-SS-result li.l4{margin-left:45px;color:#888888;}
.popup-SS-result li.l5{margin-left:60px;color:#aaaaaa;}
.popup-SS-result li.l6{margin-left:75px;color:#bbbbbb;}
.bottom-logos{width:100%;}
.bottom-logos td{width:20%;text-align:center;vertical-align:middle;}
.pager{margin:0 0 15px 0;overflow:hidden;}
.pager span,.pager a{padding:6px 12px;margin-right:2px;margin-bottom:5px;font-size:16px;float:left;display:block;text-decoration:none;}
.pager span{/*font-weight:bold;*/}
.pager span,.pager a:hover{background-color:#ededed;/*border-radius:15px;*/}
.pager a:hover{text-decoration:none;color:black;}
.div-sep{padding-bottom:10px;border-bottom:1px solid #e2e2e2;margin-bottom:10px;}
.div-sep-5{padding-bottom:5px;border-bottom:1px solid #e2e2e2;margin-bottom:5px;}
.div-sep-10{padding-bottom:10px;border-bottom:1px solid #e2e2e2;margin-bottom:10px;}
.div-sep-15{padding-bottom:15px;border-bottom:1px solid #e2e2e2;margin-bottom:15px;}
.div-sep-20{padding-bottom:20px;border-bottom:1px solid #e2e2e2;margin-bottom:20px;}
.div-sep-30{padding-bottom:30px;border-bottom:1px solid #e2e2e2;margin-bottom:30px;}
.fileinputs{position:relative;padding:0;margin:0;}
.fileinputs table{width:auto;}
/*.input-text{padding-right:65px;background:url('/img/review-button.gif') no-repeat 100% 0;cursor:pointer;}*/
.input-text input{width:140px;margin:0;height:18px;padding:1px;}
.input-file{position:absolute;opacity:0;filter:alpha(opacity:0);cursor:pointer;}
.input-file input{width:210px;cursor:pointer;}
.input-button{padding-left:10px;}
.input-button input{height:22px;}
.img-largest, .img-large, .img-middle, .img-small, .img-smallest, .img-banner-468x60, .img-premium{display:table-cell;vertical-align:middle;text-align:center;}
.img-largest{width:600px !important;height:450px !important;}
.img-largest img{max-width:600px !important;max-height:450px !important;}
.img-large{width:300px !important;height:225px !important;}
.img-large img{max-width:300px !important;max-height:225px !important;}
.img-middle{width:150px !important;height:120px !important;}
.img-middle img{max-width:150px !important;max-height:120px !important;}
.img-small{width:100px !important;height:80px !important;}
.img-small img{max-width:100px !important;max-height:80px !important;}
.img-smallest{width:50px !important;height:40px !important;}
.img-smallest img{max-width:50px !important;max-height:40px !important;}
.img-banner-468x60{width:468px !important;height:60px !important;}
.img-banner-468x60 img{max-width:468px !important;max-height:60px !important;}
.img-premium{width:240px !important;height:180px !important;}
.img-premium img{max-width:240px !important;max-height:180px !important;}
.foto-item{float:left;margin:10px 10px 0 0;text-align:center;padding:0 !important;}
.foto-img{margin-bottom:2px;}
.foto-img .img-small{width:120px;height:100px;border:1px solid #bbbbbb;background:#ffffff;}
.foto-img img{cursor:pointer;}
.foto-name{width:100px;height:24px;position:relative;text-align:left;}
.foto-name span{position:absolute;top:4px;left:0;}
.foto-name input{position:absolute;top:2px;left:24px;width:90px;}
.foto-prior a, .foto-next a{text-decoration:none;}
.foto-delete{margin:0 5px;}

textarea iframe{background-color:#000;}