.w100{width:100%;}
.h100{height:100%;}
.w100h100{width:100%;height:100%;}
.s100x100{width:100%;height:100%;}
.w25{width:25% !important;}
.w33{width:33% !important;}
.w50{width:50% !important;}
.w60{width:60% !important;}
.w75{width:75% !important;}
.w150{width:150px !important;}
.w175{width:175px !important;}
.w200{width:200px !important;}
.w250{width:250px !important;}
.width-auto{width:auto !important;}
.height-auto{height:auto !important;}
.table_100{width:100%;}
.bold{font-weight:bold;}
.normal{font-weight:normal;}
.ul{text-decoration:underline;}
.non_ul, .non-ul, .no-ul{text-decoration:none;}
.i,.italic{font-style:italic;}
.vert_align_top, .vert-align-top, .top{vertical-align:top !important;}
.vert_align_middle, .vert_align_center, .vert-align-middle, .vert-align-center, .middle{vertical-align:middle !important;}
.vert_align_bottom, .vert-align-bottom, .bottom{vertical-align:bottom !important;}
.fs10{font-size:10px !important;}
.fs11{font-size:11px !important;}
.fs12{font-size:12px !important;}
.fs13{font-size:13px !important;}
.fs14{font-size:14px !important;}
.fs15{font-size:15px !important;}
.fs16{font-size:16px !important;}
.fs17{font-size:17px !important;}
.fs18{font-size:18px !important;}
.fleft{float:left !important;}
.fright{float:right !important;}
.fnone{float:none !important;}
.text_align_right, .text-align-right, .right{text-align:right !important;}
.text_align_left, .text-align-left, .left{text-align:left !important;}
.text_align_center, .text-align-center, .center{text-align:center !important;}
.text_align_justify, .text-align-justify, .justify{text-align:justify !important;}
.overflow-visible, .visible{overflow:visible !important;}
.overflow-hidden, .hidden{overflow:hidden !important;}
.visible-yes{visibility:visible;}
.visible-no{visibility:hidden;}
.clr{clear:both;padding:0 !important;margin:0 !important;height:0 !important;display:block !important;}
.none{display:none !important;}
.block{display:block !important;}
.inline{display:inline !important;}
.inline-block{display:inline-block;}
.list-item{display:list-item;}
.absolute{position:absolute;}
.relative{position:relative;}
.fixed{position:fixed !important;}
.pointer{cursor:pointer !important;}
.no_border, .no-border{border:0 !important;}
.no-border-right{border-right:0 !important;}
.no-border-left{border-left:0 !important;}
.no-border-top{border-top:0 !important;}
.no-border-bottom{border-bottom:0 !important;}
.nowrap{white-space:nowrap !important;overflow:hidden !important;}
.uppercase{text-transform:uppercase !important;}
.lowercase{text-transform:uppercase !important;}
.bg-none{background:none !important;}
.bg-white{background-color:white;}
.bg-gray{background-color:#EEEEEE;}
.num-marker{list-style-type:decimal !important;margin-left:28px;}
.disc-marker{list-style-type:disc !important;margin-left:18px;}
.none-marker{list-style-type:none !important;margin-left:0 !important;}
.__aligner{display:inline-block;vertical-align:middle;}
.__text{display:inline-block;vertical-align:middle;}
.t-block{display:table;width:100%;overflow:visible;border-spacing:0;}
.t-item{display:table-cell;vertical-align:top;overflow:visible;}
.black{color:black !important;}
.pt0{padding-top:0px !important;}
.pr0{padding-right:0px !important;}
.pb0{padding-bottom:0px !important;}
.pl0{padding-left:0px !important;}
.p0{padding:0px !important;}
.pt2{padding-top:2px !important;}
.pr2{padding-right:2px !important;}
.pb2{padding-bottom:2px !important;}
.pl2{padding-left:2px !important;}
.p2{padding:2px !important;}
.pt3{padding-top:3px !important;}
.pr3{padding-right:3px !important;}
.pb3{padding-bottom:3px !important;}
.pl3{padding-left:3px !important;}
.p3{padding:3px !important;}
.pt5{padding-top:5px !important;}
.pr5{padding-right:5px !important;}
.pb5{padding-bottom:5px !important;}
.pl5{padding-left:5px !important;}
.p5{padding:5px !important;}
.pt10{padding-top:10px !important;}
.pr10{padding-right:10px !important;}
.pb10{padding-bottom:10px !important;}
.pl10{padding-left:10px !important;}
.p10{padding:10px !important;}
.pt15{padding-top:15px !important;}
.pr15{padding-right:15px !important;}
.pb15{padding-bottom:15px !important;}
.pl15{padding-left:15px !important;}
.p15{padding:15px !important;}
.pt20{padding-top:20px !important;}
.pr20{padding-right:20px !important;}
.pb20{padding-bottom:20px !important;}
.pl20{padding-left:20px !important;}
.p20{padding:20px !important;}
.pt25{padding-top:25px !important;}
.pr25{padding-right:25px !important;}
.pb25{padding-bottom:25px !important;}
.pl25{padding-left:25px !important;}
.p25{padding:25px !important;}
.pt30{padding-top:30px !important;}
.pr30{padding-right:30px !important;}
.pb30{padding-bottom:30px !important;}
.pl30{padding-left:30px !important;}
.p30{padding:30px !important;}
.pt40{padding-top:40px !important;}
.pr40{padding-right:40px !important;}
.pb40{padding-bottom:40px !important;}
.pl40{padding-left:40px !important;}
.p40{padding:40px !important;}
.pt50{padding-top:50px !important;}
.pr50{padding-right:50px !important;}
.pb50{padding-bottom:50px !important;}
.pl50{padding-left:50px !important;}
.p50{padding:50px !important;}
.mt0{margin-top:0px !important;}
.mr0{margin-right:0px !important;}
.mb0{margin-bottom:0px !important;}
.ml0{margin-left:0px !important;}
.m0{margin:0px !important;}
.mt1{margin-top:1px !important;}
.mr1{margin-right:1px !important;}
.mb1{margin-bottom:1px !important;}
.ml1{margin-left:1px !important;}
.m1{margin:1px !important;}
.mt2{margin-top:2px !important;}
.mr2{margin-right:2px !important;}
.mb2{margin-bottom:2px !important;}
.ml2{margin-left:2px !important;}
.m2{margin:2px !important;}
.mt3{margin-top:3px !important;}
.mr3{margin-right:3px !important;}
.mb3{margin-bottom:3px !important;}
.ml3{margin-left:3px !important;}
.m3{margin:3px !important;}
.mt4{margin-top:4px !important;}
.mr4{margin-right:4px !important;}
.mb4{margin-bottom:4px !important;}
.ml4{margin-left:4px !important;}
.m4{margin:4px !important;}
.mt5{margin-top:5px !important;}
.mr5{margin-right:5px !important;}
.mb5{margin-bottom:5px !important;}
.ml5{margin-left:5px !important;}
.m5{margin:5px !important;}
.mt8{margin-top:8px !important;}
.mr8{margin-right:8px !important;}
.mb8{margin-bottom:8px !important;}
.ml8{margin-left:8px !important;}
.m8{margin:8px !important;}
.mt10{margin-top:10px !important;}
.mr10{margin-right:10px !important;}
.mb10{margin-bottom:10px !important;}
.ml10{margin-left:10px !important;}
.m10{margin:10px !important;}
.mt12{margin-top:12px !important;}
.mr12{margin-right:12px !important;}
.mb12{margin-bottom:12px !important;}
.ml12{margin-left:12px !important;}
.m12{margin:12px !important;}
.mt15{margin-top:15px !important;}
.mr15{margin-right:15px !important;}
.mb15{margin-bottom:15px !important;}
.ml15{margin-left:15px !important;}
.m15{margin:15px !important;}
.mt20{margin-top:20px !important;}
.mr20{margin-right:20px !important;}
.mb20{margin-bottom:20px !important;}
.ml20{margin-left:20px !important;}
.m20{margin:20px !important;}
.mt25{margin-top:25px !important;}
.mr25{margin-right:25px !important;}
.mb25{margin-bottom:25px !important;}
.ml25{margin-left:25px !important;}
.m25{margin:25px !important;}
.mt30{margin-top:30px !important;}
.mr30{margin-right:30px !important;}
.mb30{margin-bottom:30px !important;}
.ml30{margin-left:30px !important;}
.m30{margin:30px !important;}
.mt40{margin-top:40px !important;}
.mr40{margin-right:40px !important;}
.mb40{margin-bottom:40px !important;}
.ml40{margin-left:40px !important;}
.m40{margin:40px !important;}
.mt50{margin-top:50px !important;}
.mr50{margin-right:50px !important;}
.mb50{margin-bottom:50px !important;}
.ml50{margin-left:50px !important;}
.m50{margin:50px !important;}
.ml1p{margin-left:1% !important;}
.mr1p{margin-right:1% !important;}
.ml2p{margin-left:2% !important;}
.mr2p{margin-right:2% !important;}
.ml4p{margin-left:4% !important;}
.mr4p{margin-right:4% !important;}