<button class="js_dgHandler" onclick="descriptionGenerator.run(<?= htmlentities(json_encode($this->get('jsParams')))?>,<?= rand(0, 100) ?>); return false;">оп</button>
<textarea name="<?= $this->get('name'); ?>" id="<?= Form__getId($this->get('name'))?>" <?=Form__getAttributesString($this->get('attributes', array()))?>><?= htmlspecialchars($this->get('value')) ?></textarea>
<script type="text/javascript ">
	scriptLoader('descriptionGenerator.js').load();
</script>