<input name="<?= $this->get('name') ?>" maxlength="6" id="<?= Form__getId($this->get('name')) ?>"  value="" <?=Form__getAttributesString($this->get('attributes', array()))?>/>
<div class="captcha-field">
	<img src="/kcaptcha/" align="absmiddle" id="<?= $this->get('name') ?>_img">
</div>
<a class="captcha-reload" href='#' onclick="getElementById('<?= $this->get('name') ?>_img').src='/kcaptcha/?'+Math.random(); return false;">Не вижу картинку</a>