<?php /**@var $this ViewObjects*/?>
<form method="post" name="editForm" id="editForm" onsubmit="">
<div class="fleft mr25" style="width:250px;">
    <table class="edit-form mb10" cellspacing="0">
    <tr>
        <td class="field-name">Логин: <span>*</span></td>
        <td class="field-value"><?php $this->login->assign('attributes', array_merge($this->login->get('attributes'), array('style'=>'width:150px'))); $this->login->display(); ?></td>
    </tr>
    <tr>
        <td class="field-name">Пароль: <span>*</span></td>
        <td class="field-value"><?php $this->passw->assign('attributes', array_merge($this->passw->get('attributes'), array('style'=>'width:150px'))); $this->passw->display() ?></td>
    </tr>
    </table>
    <input type="submit" class="button" value="Войти">
</div>
</form>
<div class="clr"></div>

