<?php /**@var $this ViewObjects*/ ?>
<div>
    <a href="<?= Path::get()->getManagementPath('top') ?>">Настройки шапки</a>&nbsp;
    <a href="<?= Path::get()->getManagementPath('content') ?>">Настройки контента</a>&nbsp;
    <a href="<?= Path::get()->getManagementPath('send_letters') ?>">Сообщения</a>&nbsp;
	<a href="<?= Path::get()->getManagementPath('goods') ?>">Товары</a>&nbsp;
	<a href="<?= Path::get()->getManagementPath('orders') ?>">Заказы</a>&nbsp;
    <a href="<?= Path::get()->getManagementPath('meta') ?>">Мета данные</a>&nbsp;
</div>
