<?php include(dirname(__FILE__) . '/autocomplete.tpl')?>
<span class="exposition_venues_add">
	<a onclick="ajax.requestInPopup('runModule/Forms/Exposition_venues_add/Form.ajax'); return false;">Добавить выставочный центр</a>
</span>
<span>
	<div onclick="ajax.requestInPopup('runPanel/Exposition_venues.ajax'); return false;" class="value-search-icon js_wsToggle" xmlns="http://www.w3.org/1999/html"></div>
</span>