<?php /**@var $this ViewObjects*/?>
<?php $item = $this->get('item'); $jsParams = $this->get('jsParams');?>
<input autocomplete="off" type="text" id="<?=$jsParams['idText']?>" <?=Form__getAttributesString($this->get('attributes', array()))?> value="<?=$item ? htmlspecialchars($item['name']) : ''?>"/>
<input type="hidden" name="<?= $this->get('name')?>" id="<?= $jsParams['idInput'] ?>" value="<?= htmlspecialchars($this->get('value')) ?>"/>
<script type="text/javascript">
	scriptLoader('modules/autocomplete.js').callFunction(function(){
		autocompleteForm().init(<?=json_encode($jsParams)?>);
	});
</script>
