<div class="calendar" id="calendar_<?= $this->get('name'); ?>"></div>
<input name="<?= $this->get('name') ?>" id="<?= Form__getId($this->get('name')) ?>" value="<?= $this->get('value') ?>" <?=Form__getAttributesString($this->get('attributes', array()))?> />