<script type="text/javascript" src="<?=SITE_ROOT?>js/jquery.maskedinput.min.js"></script>
<link href="<?= SITE_ROOT ?>css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<div class="js_calendarIntervalDatepicker_<?=$this->get('alias')?>">
	<?php $this->start->display(); ?> - <?php $this->end->display();?>
</div>