<?php /**@var $this ViewObjects*/?>
Сокр. название - короткое название товара, может состоять из цифр, латинских букв и знака "_", должно быть уникальным<br>
Цена - указывается в рублях<br>
ед. изм. - шт, упаковка, коробка и др.<br>
<br>